CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/build
/example/bin/Debug/Example.exe
/example/bin/Debug/Example.ilk
/example/bin/Debug/Example.pdb
